<%= form_for @record, id: 'json_form' do |f| %>

  <%= error_messages_for @record %>

  <div class="form-group" id="record_json_form_group">
    <label for="record_json">Raw JSON</label>
    <%= f.text_area :json, value: @saved_json || (@record.json.present? ? @record.json.to_json : ''), class: 'form-control record_json', placeholder: 'Add JSON document here', rows: 10 %>
  </div>

  <%= f.submit 'Save Document', id: 'save_button', class: 'btn btn-primary' %>
<% end %>


