<div class="col-sm-12 col-xs-12">

  <div class="pull-right">
    <button id="default_json" class="btn btn-sm">Use default JSON</button>
  </div>
  
  <h2>New JSON Document</h2>
  
  <%= render 'form' %>
  
</div>
