<div class="col-sm-12 col-xs-12" id="json_show_page">
  <h2>JSON Document: <%= @record.id %></h2>
  
  You can directly edit the JSON document below.
  
  <br><br>

  <div>
    <%= raw json_as_html(@record.json) %>
  </div>
  
  <%= render 'form' %>
</div>

