<div class="col-sm-12 col-xs-12">
  <h2>JSON Document: <%= @record.id %></h2>
  
  <%= link_to 'Edit JSON Document', edit_record_path(@record), class: 'btn btn-primary' %>
  
  <br><br>
  
  <pre id="record_json"><%= @record.json.to_json %></pre>
</div>

<script>
  // get the json object
  var json = $.parseJSON($("#record_json").text());
  // pretty print it
  json = JSON.stringify(json, null, 2);
  // add it back to the div
  $("#record_json").html(json);
</script>
