<div class="col-sm-12 col-xs-12" id="json_show_page">
  <h2>JSON Document: <%= @record.id %></h2>
  
  You can directly edit the JSON document below.
  
  <br><br>

  <div>
    <%= raw json_as_html(@record.json) %>
  </div>
  
  <%= render 'form' %>
  
  <br><br><br><br>
  
  <h3>Want to delete this document?</h3>
  <%= button_to 'Delete Document', record_path(@record), :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this JSON document?' }, :class => 'btn btn-danger btn-sm' %>
</div>

