<div class="col-sm-12 col-xs-12">
  <h2>JSON Document: <%= @record.id %></h2>
  
  You can directly edit the JSON document below.
  
  <br><br>
  
  <pre id="record_json_html" class="record_json prettyprint linenums" spellcheck=false><%= @record.json.to_json %></pre>
  
  <div>
    <%= raw json_as_html(@record.json) %>
  </div>
  
  <%= render 'form' %>
</div>

<script>

  $(document).on('ready page:load', function() {
    // hide the text area
    $('#record_json_form_group').css('display', 'none');
    
    // intercept the save button click
    $('#save_button').on('click', function() {
      // set the textarea to the proper value
      $('#record_json').val($('#record_json_html').text());
      // submit the form
      $('#json_form')[0].submit();
      // override default button behavior
      return false;
    });

    // set behavior of json inputs
    setJsonInputListeners();

  });

  // set behavior of json inputs
  function setJsonInputListeners() {
    $('.json-text').on('click', function() {
      setJsonInput($(this));
    });
  }

  // sets an input
  function setJsonInput($element) {
    // create the input
    var $input = $("<input type='text' class='json-input'>");
    // set the input value
    $input.val($element.text());
    // replace with the input
    $element.replaceWith($input);
  }

</script>
