<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">JSON Import</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if current_user.present? %>
        <ul class="nav navbar-nav">
          <li><a href="/records">Documents</a></li>
        </ul>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>

